$dark-theme: false !default;

$primary-color: #d40920 !default;
$secondary-color: #0051ba !default;
$tertiary-color: #ffd700 !default;
$neutral-color: #f2f2f2 !default;

@if $dark-theme {
  $primary-color: #ff4b4b;
  $secondary-color: #3d8dff;
  $tertiary-color: #ffd95a;
  $neutral-color: #2c2c2c;
}
